name: Hello Workflow

on:
  push:
    branches:
      - main

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Get Release Info
        uses: IGS-ARCADE-DIVISION-RD5/release_summary_for_approval@main
        with:
          org: "igs-weitingliao"
          repo: "TestArtifacts"
          tag: ${{ github.event.inputs.input_tag }}
          token: ${{ secrets.GITHUB_TOKEN }}
