name: Get Release Info
run-name: "[測試] Trigger 發佈版本 ${{ github.event.inputs.input_tag }}"

on:
  workflow_dispatch:
    inputs:
      input_tag:
        description: "Release tag to fetch info for"
        required: true

jobs:
  Release:
    runs-on: ubuntu-latest
    environment:
      name: prod
    steps:
      - name: Get Release Info
        uses: igs-weitingliao/test_release_summary_for_approval@main
        with:
          org: "igs-weitingliao"
          repo: "TestArtifacts"
          tag: ${{ github.event.inputs.input_tag }}
          token: ${{ secrets.REPO_RELEASE_INFO_PAT  }}

      - name: Show Release Summary
        run: |
          echo -e "$(cat $GITHUB_STEP_SUMMARY)" > $GITHUB_STEP_SUMMARY
