name: Hello Workflow

on:
  workflow_dispatch:
    inputs:
      input_tag:
        description: "Tag to get release info for"
        required: true

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Get Release Info
        uses: igs-weitingliao/test_release_summary_for_approval@main
        with:
          org: "igs-weitingliao"
          repo: "TestArtifacts"
          tag: ${{ github.event.inputs.input_tag }}
          token: ${{ secrets.PRIVATE_ACTION_PAT }}
